@{
    ViewData["Title"] = "Imagenes Scroll";
}
<h1>@ViewData["Title"]</h1>

<p>Hacer que las imagenes se deslicen a ul lado a otro.</p>

<div id="imgscroll" class="carrusel slide" data-bs-ride="carrusel">
    <div class="carrusel-inner">
        <div class="carrusel-item active">
            <img src="https://www.lavanguardia.com/files/image_449_220/files/fp/uploads/2023/05/09/645a35b8039bd.r_d.640-480-3508.jpeg" class="d-block w-100"/>
        </div>
        <div class="carrusel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Logo-UN.png" class="d-block w-100"/>
        </div>
        <div class="carrusel-item">
            <img src="https://www.shutterstock.com/image-photo/happy-student-taking-notes-while-600nw-1860471403.jpg" class="d-block w-100"/>
        </div>
    </div>
</div>
